node {
    size: 20px;
    shape: circle;
    text-alignment: above;
    /*text-background-mode: rounded-box;*/
    /*text-background-color: yellow;*/
    /*text-padding: 3px, 0px;*/
}
node:clicked {
    size: 30px;
}
node.common {
	fill-color: grey;
}
node.highlight {
    fill-color: red;
}