node {
    size: 20px;
    shape: circle;
    text-alignment: above;
    /*text-background-mode: rounded-box;*/
    /*text-background-color: yellow;*/
    /*text-padding: 3px, 0px;*/
}
node:clicked {
    fill-color: green;
    size: 30px;
}
node.common {   
    fill-mode: dyn-plain;
    fill-color: blue, green, yellow, purple;
}
node.highlight {
    fill-color: red;
}